# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
*.bak
sandbox/
sandbox_*/

/1_simple_linear_regression_files
1_simple_linear_regression.html
1_simple_linear_regression.nb.html
# 1_simple_linear_regression.pdf
1_simple_linear_regression.tex
1_simple_linear_regression.docx

/2_multiple_linear_regression_files
2_multiple_linear_regression.html
2_multiple_linear_regression.nb.html
# 2_multiple_linear_regression.pdf
2_multiple_linear_regression.tex
2_multiple_linear_regression.docx

/3_logistic_regression_files
3_logistic_regression.html
3_logistic_regression.nb.html
# 3_logistic_regression.pdf
3_logistic_regression.docx
3_logistic_regression.tex

/4_logistic_regression-siwaka_dishes_files
4_logistic_regression-siwaka_dishes.nb.html
4_logistic_regression-siwaka_dishes.Rmd
4_logistic_regression-siwaka_dishes.tex
# 4_logistic_regression-siwaka_dishes.pdf

/5_multiple_linear_regression_files
5_multiple_linear_regression.nb.html
5_multiple_linear_regression.Rmd
5_multiple_linear_regression.tex
# 5_multiple_linear_regression.pdf

/4_t-test_files
4_t-test.html
4_t-test.nb.html
# 4_t-test.pdf
4_t-test.docx
4_t-test.tex

/5_ANOVA_files
5_ANOVA.html
5_ANOVA.nb.html
# 5_ANOVA.pdf
5_ANOVA.docx
5_ANOVA.tex
.positai
